<template>
  <div id="app">
    <div class="container">
      <router-view />
      <Footer />
    </div>
  </div>
</template>

<script>

import Footer from '@/components/Footer.vue'

export default {
  name: 'app',
  components: {
    Footer,
  }
}
</script>


<style>

#app { padding: 1rem;  }

/* helpers */

.br { border: 1px solid red; }

.hide { display: none; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }

.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }

.ml1 { margin-left: 1rem; }
.ml2 { margin-left: 2rem; }
.ml3 { margin-left: 3rem; }
.ml4 { margin-left: 4rem; }

.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }
.mr3 { margin-right: 3rem; }
.mr4 { margin-right: 4rem; }

</style>
