<template>
  <div class="page-login mt4 mb4">
    <div class="columns is-mobile is-centered">
      <div class="column is-5-tablet is-3-desktop">

        <div class="box">

            <h1 class="title">404</h1>

            <router-link to="/">Login</router-link>

        </div>

      </div>


    </div>
  </div>
</template>

<script>
export default {
  name: 'page-404',
  components: {
  }
}
</script>
