<template>
  <div class="page-login mt4 mb4">
    <div class="columns is-mobile is-centered">
      <div class="column is-5-tablet is-3-desktop">

        <div class="box">
          <form @submit="handleSubmit">
            <h1 class="title">Login</h1>

            <div class="field mt2">
              <label class="label">E-mail</label>
              <div class="control">
                <input class="input" type="email" value="" />
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" value="" />
              </div>
            </div>

            <div class="field mt2">
              <button class="button is-primary is-fullwidth">
                Login
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'page-login',
  methods: {
    handleSubmit: function (event) {
      event.preventDefault()
      this.$router.push('dashboard')
    }
  },
  components: {
  }
}
</script>
