<template>
  <div class="block-data-table">

    <div class="columns">
      <div class="column">

        <label v-for="(item, index) in header" :key="`item-filters-${index}`" class="tag mb1 mr1">
          <input type="checkbox" :value="index" v-model="filters" /> {{item}}
        </label>

      </div>
      <div class="column is-3">
        <div class="field mb1">
          <div class="control">
            <input class="input" type="search" placeholder="search..." v-model="search" />
          </div>
        </div>
      </div>
    </div>

    <div v-if="!activedFilter || contentFiltered.length === 0">
      <span class="has-text-grey is-size-7">No matching records found</span>
    </div>

    <div v-else class="columns is-mobile is-gapless">
      <div class="column is-2-mobile is-1-tablet">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <td>
                <label class="cell-header center">
                  <input type="checkbox" />
                </label>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in contentFiltered" :key="`item-table-checkbox-${index}`">
              <td class="has-text-centered"><input type="checkbox" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-10-mobile is-11-tablet">
        <div class="overflow-x">
          <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th v-for="(item, key, index) in content[0]" :key="`item-thead-${index}`" v-show="activedFilter && findSelectedFilterIndex(index)">
                  <div class="cell-header">
                    <strong>{{header[index]}}</strong>
                    <button v-show="filterOrderBy.column !== key" class="button is-small is-white is-rounded" @click="toggleOrderBy(key, 'asc')"><span class="icon"><i class="fas fa-sort"></i></span></button>
                    <button v-show="filterOrderBy.column === key && filterOrderBy.order === 'asc'" class="button is-small is-light is-rounded" @click="toggleOrderBy(key, 'desc')"><span class="icon"><i class="fas fa-caret-up"></i></span></button>
                    <button v-show="filterOrderBy.column === key && filterOrderBy.order === 'desc'" class="button is-small is-light is-rounded" @click="toggleOrderBy(key, 'asc')"><span class="icon"><i class="fas fa-caret-down"></i></span></button>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in contentFiltered" :key="`item-table-${index}`">
                <td v-for="(itemCell, keyCell, indexCell) in item" :key="`item-cell-${indexCell}`" v-show="activedFilter && findSelectedFilterIndex(indexCell)">

                  <a v-if="isEditable(keyCell)" @click.prevent="edit()" >
                    <span v-if="isDate(itemCell)">{{itemCell}}</span>
                    <span v-else>{{itemCell}}</span>
                  </a>
                  <div v-else>
                    <span v-if="isDate(itemCell)">{{itemCell}}</span>
                    <span v-else>{{itemCell}}</span>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import orderBy from 'lodash/orderBy'
import moment from 'moment'

export default {
  name: 'block-data-table',
  props: {
    editable: Array,
    content: {
      type: Array,
      required: true,
    },
    header: {
      type: Array,
      required: true,
    },
    orderBy: Object,
  },
  data () {
    return {
      search: '',
      filters: [],
      filterOrderBy: {
        column: '',
        order: '',
      },
    }
  },
  computed: {
    activedFilter() {
      return this.filters.length > 0
    },
    contentFiltered() {
      let result = this.content

      if(this.filterOrderBy.column) {
        result = orderBy(result, [this.filterOrderBy.column], [this.filterOrderBy.order]);
      }

      if(this.search) {
        result = result.filter((row) => {
          return Object.keys(row).some((key) => {
            return String(row[key]).toLowerCase().indexOf(this.search) > -1
          })
        })
      }

      return result;
    },
  },
  methods: {
    toggleOrderBy(column, order) {
      this.filterOrderBy.column = column;
      this.filterOrderBy.order = order;
    },
    findSelectedFilterIndex (index) {
      return this.filters.find(i => i === index) !== undefined
    },
    isEditable (value) {
      return this.editable.find(item => item === value) !== undefined
    },
    edit () {
      // console.log('TODO')
    },
    isDate (value) {
      return moment.isDate(value)
    },
  },
  created() {
    this.filters = Object.keys(this.content[0]).map((item, index) => index)

    if(this.orderBy.column) {
      this.filterOrderBy.column = this.orderBy.column;
      this.filterOrderBy.order = this.orderBy.order;
    }
  }
}
</script>

<style scoped>

  .tag input { margin-right: 4px; }

  .cell-header { display: flex; min-height: 3rem; align-items: center; justify-content: space-between; }
  .cell-header.center { justify-content: center; }
  .cell-header strong { margin-right: 4px; }

  .overflow-x { overflow-x: auto; }

</style>
