<template>
  <footer class="block-footer mt4">
    <div class="content has-text-centered">
      <hr>
      <p><strong>Test Vue.js</strong> by <a href="https://www.linkedin.com/in/gustavokrause/">Gustavo Krause</a>.</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'block-footer',
}
</script>

<style scoped>
</style>
