<template>
  <div class="block-header mt4 mb2">


    <h1 class="title">Hi, <strong class="has-text-primary">User</strong></h1>
    <router-link to="/">Logout</router-link>


  </div>
</template>

<script>
export default {
  name: 'block-header',
}
</script>

<style scoped>

.title { display: inline-block; margin-right: 1rem; }

</style>
